.example-card {
    max-width: 70vw;
    margin: auto
  }
  
  img{
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 10px;
  }
  .spinner{
    margin: auto;
    position: absolute;
    top: 50%;
  right: 50%;
}