<mat-spinner class="spinner" *ngIf="loading"></mat-spinner>
<mat-grid-list cols="3"  *ngIf="!loading">
    <mat-grid-tile *ngFor="let item of historial">
        <mat-card  class="nasa-card" (click)="redirectTo(item.date)">
            <mat-card-header>
                <mat-card-title>
                    <a href="#" [routerLink]="['/detail', item.date]">
                        {{ item.title }}
                    </a>
                </mat-card-title>
                <mat-card-subtitle>{{ item.date | date: 'dd/MM/yyyy' }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{ item.url }}" alt="{{ item.title }}">
        </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
<!-- <div class="card-container">
    <mat-card *ngFor="let item of historial" class="nasa-card" (click)="redirectTo(item.date)">
        <mat-card-header>
            <mat-card-title>
                <a href="#" [routerLink]="['/detail', item.date]">
                    {{ item.title }}
                </a>
            </mat-card-title>
            <mat-card-subtitle>{{ item.date | date: 'dd/MM/yyyy' }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ item.url }}" alt="{{ item.title }}">
    </mat-card>
</div> -->
